@model int
<td class ="align-middle">

	<div class="btn-group float-end" >
		@*<a asp-action="Edit" class ="btn btn-primary align-middle" asp-route-id="@Model"> <i class="bi bi-pencil"></i> Edit </a>
		<a asp-action="Detail" class ="btn btn-success align-middle" asp-route-id="@Model"> <i class="bi bi-eye-fill"> Show Details</i> </a>
		<a asp-action="Delete" class ="btn btn-danger align-middle" asp-route-id="@Model"> <i class="bi bi-trash"></i> Delete </a>
	*@
	    <a asp-action="Edit" class ="btn btn-primary align-middle" asp-route-id="@Model"> <i class="bi bi-pencil"></i>  </a>
		<a asp-action="Detail" class ="btn btn-success align-middle" asp-route-id="@Model"> <i class="bi bi-eye-fill"> </i> </a>
		<a asp-action="Delete" class ="btn btn-danger align-middle" asp-route-id="@Model"> <i class="bi bi-trash"></i>  </a>

	</div>

</td>


